In [ ]:
#Task 1

In [37]:
import pandas as pd
import zipfile
import numpy as np

In [58]:
zip_path = r"C:\Users\Hp\Desktop\74300220.zip"

with zipfile.ZipFile(zip_path) as z:
    with z.open("data_ws2025/ALB.csv") as f:
        ALB = pd.read_csv(f)
        ALB['Ticker'] = 'ALB'
        ALB['Date'] = pd.to_datetime(ALB['Date']) 
    with z.open("data_ws2025/IP.csv") as f:
        IP = pd.read_csv(f)
        IP['Ticker'] = 'IP'
        IP['Date'] = pd.to_datetime(IP['Date']) 
    with z.open("data_ws2025/NWSA.csv") as f:
        NWSA = pd.read_csv(f)
        NWSA['Ticker'] = 'NWSA'
        NWSA['Date'] = pd.to_datetime(NWSA['Date']) 
    with z.open("data_ws2025/ORLY.csv") as f:
        ORLY = pd.read_csv(f)
        ORLY['Ticker'] = 'ORLY'
        ORLY['Date'] = pd.to_datetime(ORLY['Date']) 
    with z.open("data_ws2025/TXT.csv") as f:
        TXT = pd.read_csv(f)
        TXT['Ticker'] = 'TXT'
        TXT['Date'] = pd.to_datetime(TXT['Date']) 

TXT.dtypes

Date            datetime64[ns]
Open                   float64
High                   float64
Low                    float64
Close                  float64
Volume                   int64
Dividends              float64
Stock Splits           float64
Ticker                  object
dtype: object

In [59]:
data = pd.concat([ALB, IP, NWSA, ORLY, TXT], ignore_index=True)
data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
0,2021-01-04,144.545,148.194,142.077,144.289,2898700,0.0,0.0,ALB
1,2021-01-05,144.327,157.666,144.327,154.026,2628000,0.0,0.0,ALB
2,2021-01-06,156.456,168.831,156.456,165.531,3335500,0.0,0.0,ALB
3,2021-01-07,173.453,177.017,170.684,173.945,2947800,0.0,0.0,ALB
4,2021-01-08,174.408,176.715,168.897,174.040,1659400,0.0,0.0,ALB
...,...,...,...,...,...,...,...,...,...
5015,2024-12-23,76.091,76.520,75.421,76.381,1265300,0.0,0.0,TXT
5016,2024-12-24,76.131,77.200,75.641,77.180,435500,0.0,0.0,TXT
5017,2024-12-26,76.940,77.620,76.630,77.340,794900,0.0,0.0,TXT
5018,2024-12-27,76.740,77.690,76.141,77.150,736500,0.0,0.0,TXT
5019,2024-12-30,76.061,76.770,75.281,76.500,686400,0.0,0.0,TXT

In [60]:
#Part 1


data[data['High'] == data['Low']]
# There is no such company, meaninng their stocks changes during each day for all of them

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Dividends, Stock Splits, Ticker]
Index: []

In [61]:
#Part 2
data.groupby('Ticker').agg({'High': 'max', 'Low': 'min'})

           High     Low
Ticker
ALB     320.410  70.120
IP       58.712  26.313
NWSA     29.827  14.485
ORLY     85.597  28.269
TXT      97.195  44.131

In [62]:
#Part 3
data['log_close'] = np.log(data['Close']) 

returns = data.groupby('Ticker')['log_close'].agg(['min', 'max', 'mean', 'std', 'skew'])

returns

             min       max      mean       std      skew
Ticker
ALB     4.262370  5.741810  5.120741  0.346091 -0.463670
IP      3.275559  4.059477  3.633839  0.177795  0.146075
NWSA    2.678827  3.389395  3.058082  0.179910 -0.206048
ORLY    3.345156  4.439198  3.963918  0.272016 -0.237664
TXT     3.807240  4.573019  4.275423  0.150151 -0.463298

In [63]:
#part 4 
data['diff'] = data['Open'] - data['Close']

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,log_close,diff,rank
449,2022-10-14,248.044,249.998,226.868,227.433,1985700,0.0,0.0,ALB,5.426856,20.611,0
284,2022-02-17,208.230,210.622,185.681,187.768,6180600,0.0,0.0,ALB,5.235207,20.462,1
535,2023-02-17,267.510,267.673,242.233,247.500,5758300,0.0,0.0,ALB,5.511411,20.010,2
447,2022-10-12,260.504,261.299,235.067,240.823,3589500,0.0,0.0,ALB,5.484062,19.681,3
433,2022-09-22,276.901,277.619,259.297,260.648,1576200,0.0,0.0,ALB,5.563171,16.253,4
...,...,...,...,...,...,...,...,...,...,...,...,...
4903,2024-07-16,91.315,94.152,91.076,93.902,1503900,0.0,0.0,TXT,4.542252,-2.587,999
4304,2022-02-24,66.565,69.484,65.719,69.225,1559100,0.0,0.0,TXT,4.237362,-2.660,1000
4152,2021-07-20,63.851,66.977,63.403,66.768,1481700,0.0,0.0,TXT,4.201224,-2.917,1001
4784,2024-01-24,82.379,86.203,81.970,85.404,3259000,0.0,0.0,TXT,4.447393,-3.025,1002
4660,2023-07-27,72.339,77.178,72.209,76.350,4593200,0.0,0.0,TXT,4.335328,-4.011,1003

In [68]:
#max
data_sorted = data.sort_values(['Ticker', 'diff'], ascending=[True, False])
data_sorted['rank'] = data_sorted.groupby('Ticker').cumcount()
data_sorted[data_sorted['rank'] == 1][['Ticker', 'diff']]

     Ticker    diff
284     ALB  20.462
2000     IP   1.819
2221   NWSA   1.447
3358   ORLY   2.497
4285    TXT   3.665

In [69]:
#min
data_sorted = data.sort_values(['Ticker', 'diff'], ascending=[True, True])
data_sorted['rank'] = data_sorted.groupby('Ticker').cumcount()
data_sorted[data_sorted['rank'] == 1][['Ticker', 'diff']]

     Ticker    diff
448     ALB -17.718
1967     IP  -2.924
2475   NWSA  -1.082
3979   ORLY  -2.628
4784    TXT  -3.025

In [70]:
#part 5
data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,log_close,diff
0,2021-01-04,144.545,148.194,142.077,144.289,2898700,0.0,0.0,ALB,4.971818,0.256
1,2021-01-05,144.327,157.666,144.327,154.026,2628000,0.0,0.0,ALB,5.037121,-9.699
2,2021-01-06,156.456,168.831,156.456,165.531,3335500,0.0,0.0,ALB,5.109158,-9.075
3,2021-01-07,173.453,177.017,170.684,173.945,2947800,0.0,0.0,ALB,5.158739,-0.492
4,2021-01-08,174.408,176.715,168.897,174.040,1659400,0.0,0.0,ALB,5.159285,0.368
...,...,...,...,...,...,...,...,...,...,...,...
5015,2024-12-23,76.091,76.520,75.421,76.381,1265300,0.0,0.0,TXT,4.335734,-0.290
5016,2024-12-24,76.131,77.200,75.641,77.180,435500,0.0,0.0,TXT,4.346140,-1.049
5017,2024-12-26,76.940,77.620,76.630,77.340,794900,0.0,0.0,TXT,4.348211,-0.400
5018,2024-12-27,76.740,77.690,76.141,77.150,736500,0.0,0.0,TXT,4.345752,-0.410
5019,2024-12-30,76.061,76.770,75.281,76.500,686400,0.0,0.0,TXT,4.337291,-0.439

In [93]:
#part 6
data.groupby('Ticker')['Date'].agg(['min', 'max'])
end = data[(data['Date'] == '2024-12-30')][['Ticker', 'Date', 'Close']]
start = data[(data['Date'] == '2021-01-04')][['Ticker', 'Date', 'Close']]
result = pd.merge(end,start,on = ['Ticker'])

result['final'] = result['Close_x'] - result['Close_y']
result = result.sort_values(by='final', ascending=False)
result.head(1)

  Ticker     Date_x  Close_x     Date_y  Close_y   final
3   ORLY 2024-12-30   78.661 2021-01-04   30.265  48.396

In [ ]:
#part 7